
<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<ul>
	<li><a href="/Home/TestButton">Test to see app is responsive</a> </li>
	<li><a href="/Terrace/Index">Go to Watering System Management</a></li>
</ul>

