<h2>Terrace Water Management System</h2>

<ul>
	<li><a href="/Terrace/StartWatering?interval=1000">Start watering System</a></li>
	<li><a href="/Terrace/StopWatering">Stop watering System</a></li>
	<li><a href="/Terrace/ReadWateringState">Read watering Statem</a></li>
	<li><a href="/Terrace/CheckWaterTankLevel">Check water tank level</a></li>
</ul>

